@import '../../../variables.scss';

@mixin multiselect_styling($uiMultiselect-Panel-Header-border,$uiMultiselect-Panel-Header-borderBottom,$uiMultiselect-Panel-Header-border-radius) {
    .ui-multiselect-panel
    .ui-multiselect-header
    .ui-multiselect-filter-container
    .ui-inputtext {
    border: $uiMultiselect-Panel-Header-border;
    border-bottom: $uiMultiselect-Panel-Header-borderBottom !important;
    border-radius: $uiMultiselect-Panel-Header-border-radius;
    
    
  }
}


.FCC{
    $primaryColor: $VIOLET-F100;
    $primaryLight:$VIOLET-F25;
    $secondaryColor:$FUCHSIA-F100;

    $uiMultiselect-Panel-Header-border: $borderNone;
    $uiMultiselect-Panel-Header-borderBottom: 0.0625em $borderSolid $CHARCOAL-F50;
    $uiMultiselect-Panel-Header-border-radius: 0em;
    @include multiselect_styling($uiMultiselect-Panel-Header-border,$uiMultiselect-Panel-Header-borderBottom,$uiMultiselect-Panel-Header-border-radius);
}