@import '../../../variables.scss';

@mixin button_mixin(
     $primaryButtonBackground, $primaryButtonHoverBackgroundcolor, $secondaryButtonBorder, $secondaryButtonActive,
     $primaryButtonColor,$primaryButtonFocusBackgroundcolor,$primaryButtonActiveBackgroundcolor,$primaryButtonDisabledBackgroundcolor,
     $primaryButtonDisabledtextcolor,$secondaryBtnColor,$secondaryBtnBackgroundColor, $secondaryButtonHoverBackgroundcolor,
     $SecondaryButtonColor,$tertiaryBtnColor,$tertiaryBtnBackgroundColor,$tertiaryBtnHover,$tertiaryBtnActive,$tertiaryBtnText
    ) {

   .primaryButton{
       background:$primaryButtonBackground !important ;
       color: $primaryButtonColor !important;
   }
   .primaryButton:hover {
    background-color: $primaryButtonHoverBackgroundcolor !important;
  }
  .primaryButton:focus {
    background-color: $primaryButtonFocusBackgroundcolor !important;
    border: 3px solid $BLACK !important;
  }

  .primaryButton:active {
    background-color: $primaryButtonActiveBackgroundcolor !important;
  }
  .primaryButton:disabled {
    background-color: $primaryButtonDisabledBackgroundcolor !important;
    color: $primaryButtonDisabledtextcolor !important;
  }


  app-review-header .primaryButton.primaryButton1:hover, .primaryButton.primaryButton1:focus {
    background-color: $VIOLET-F25 !important;
    box-shadow: none !important;
  }

  app-review-header .primaryButton.journey-button:hover, .primaryButton.journey-button:focus {
    background-color: $VIOLET-F75 !important;
    box-shadow: none !important;
  }
  .secondaryButton {
    color: $secondaryBtnColor !important;
    background-color: $secondaryBtnBackgroundColor !important;
  }
  .secondaryButton:hover {
    background-color: $secondaryButtonHoverBackgroundcolor !important;
  }
  .secondaryButton:active {
    background-color: $secondaryButtonActive !important;
  }
  .secondaryButton:focus {
    border: 3px solid $BLACK !important;
    background-color: $secondaryButtonHoverBackgroundcolor !important;
  }  
  app-review-history .secondaryButton:hover {
    background-color: $secondaryButtonHoverBackgroundcolor !important;
  }
  .secondaryButton.ui-button.ui-button-text-only .ui-button-text {
    color: $SecondaryButtonColor !important;
  }

  .secondaryButton:disabled {
    background-color: $primaryButtonDisabledBackgroundcolor !important;
    color: $primaryButtonDisabledtextcolor !important;
  }
  
  .tertiaryButton {
    color: $tertiaryBtnColor !important;
    background-color: $tertiaryBtnBackgroundColor !important;
  }

  .tertiaryButton:hover {
    background-color: $tertiaryBtnHover !important;
  }

  .tertiaryButton:active {
    background-color: $tertiaryBtnActive !important;
  }

  .tertiaryButton.ui-button.ui-button-text-only .ui-button-text {
    color: $tertiaryBtnText !important;
  }
  fcc-trade-file-upload-dialog .ui-button {
    background-color: $secondaryColor !important;
  }
   // Yes or No buttons in Pop up
  fcc-trade-confirmation-dialog .ConfirmButton {
    color: $primaryButtonColor !important;
    background-color: $secondaryColor !important;
    }
  // Yes or No buttons in Pop up
  fcc-trade-confirmation-dialog {
    .ConfirmButton:hover,.ConfirmButton:focus {
      color: $primaryButtonColor !important;
      background-color: $FUCHSIA-F50 !important;
    }
  }
  fcc-trade-confirmation-dialog {
    .ConfirmButton:focus {
      border: 3px solid $BLACK !important;
    }
  }
  app-license-details .browseButton:focus {
      box-shadow: 0 0 0 0.125em $FUCHSIA-A02 !important;
  }

}



.FCC {

// Primary Button
$primaryButtonColor:$WHITE;
$primaryButtonBackground:$FUCHSIA-F100;
$primaryButtonHoverBackgroundcolor:#c546a9  ;
$primaryButtonFocusBackgroundcolor:#cf66b8;
$primaryButtonActiveBackgroundcolor:#cf66b8;
$primaryButtonBorderColor:$FUCHSIA-F100;
$primaryButtonDisabledBackgroundcolor:$GrayShade;
$primaryButtonDisabledtextcolor:$GrayLight;

// Secondary Button
$SecondaryButtonColor:$FUCHSIA-PRIMARY-COLOR;
$SecondaryButtonBackground:$WHITE;
$secondaryButtonBorder:$font-size-01 $borderSolid $FUCHSIA-PRIMARY-COLOR;
$secondaryButtonActive:$FUCHSIA-F25;
$secondaryButtonhover:$VIOLET-F25;
$bankViewOptionColor:$VIOLET-F25;
$secondaryBtnColor: $secondaryColor;
$secondaryBtnBackgroundColor: $SecondaryButtonBackground;
$secondaryButtonHoverBackgroundcolor:$secondaryHoverBGColor;

// Tertiary Button
$tertiaryBtnColor: $FUCHSIA-PRIMARY-COLOR;
$tertiaryBtnBackgroundColor: $transparent;
$tertiaryBtnHover:$WHITE-12;
$tertiaryBtnActive:$FUCHSIA-F25;
$tertiaryBtnText:$FUCHSIA-PRIMARY-COLOR;


  @include button_mixin($primaryButtonBackground ,$primaryButtonHoverBackgroundcolor, $secondaryButtonBorder, $secondaryButtonActive,
  $primaryButtonColor,$primaryButtonFocusBackgroundcolor,$primaryButtonActiveBackgroundcolor,$primaryButtonDisabledBackgroundcolor,
  $primaryButtonDisabledtextcolor,$secondaryBtnColor,$secondaryBtnBackgroundColor, $secondaryButtonHoverBackgroundcolor,
  $SecondaryButtonColor,$tertiaryBtnColor,$tertiaryBtnBackgroundColor,$tertiaryBtnHover,$tertiaryBtnActive,$tertiaryBtnText
  );
}
