.blueTable {
    border: 1px solid #91DFDA;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
.blueTable td, .blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  .blueTable tbody td {
    font-size: 13px;
  }
//  .blueTable tr:nth-child(even) :not(tr.accountsTable) {
//     background: #D0E4F5;
//   }
  .blueTable thead {
    background: #91DFDA;
    color: #fff;
    //background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #91DFDA 100%);
    //background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #91DFDA 100%);
    //background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #91DFDA 100%);
    border-bottom: 2px solid #444444;
  }
  .blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
 .blueTable thead th:first-child {
    border-left: none;
  }
  
  .blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  .blueTable tfoot td {
    font-size: 14px;
  }
  .blueTable tfoot .links {
    text-align: right;
  }
  .blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
//   table.accountsTable{
//     background-color: transparent !important;
//     border: none !important;
//   }
td#accountsColumn{
    border: none;
 }

::ng-deep #limits-types-dropdown .ui-dropdown{
    width: 355px !important;
    border-bottom: 1.2px solid #707070 !important;
    margin-bottom: 10px !important;
}
::ng-deep #limits-types-dropdown .ui-dropdown-label-container{
  overflow: hidden !important;
}
::ng-deep #limits-types-dropdown .ui-inputtext{
  width:90% !important;
}


.divTable {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.divRow {
  display: table-row;
  font-weight: normal;
}

.divCell {
  display: table-cell;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  border-top: 0.05em  solid  #C8C8C8;
  vertical-align: top;
  cursor: pointer;
}

.headerFont {
  padding: 1em 0em;
  font-size: 0.75em;
  font-family: Roboto;
  color: #414141;
  line-height: 0.875em;
  padding-bottom: 0.5em;
}

.dataFont {
  font-size: 0.875em;
  font-family: Roboto;
  color: #545454;
  font-weight: bold;
  line-height: 1em;
}


@media only screen and (max-width: 1024px) {
  ::ng-deep .dataFont {
    line-height: 0.9em;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait) {
  ::ng-deep .dataFont {
    width: 10em !important;
  }
}

.headerPadding {
  padding: 1em 0em;
  padding-left: 0.5em;
  font-size: 0.75em;
  font-family: Roboto;
  color: #414141;
  line-height: 0.875em;
  padding-bottom: 0.1em;
}

.dataPadding {
  display: inline-flex;
  border-radius: 0.125em;
  padding: 0.1em 0.5em;
  font-size: 0.875em;
  font-family: Roboto;
  color: #545454;
  line-height: 1em;
}

.circleBackground {
  display: inline-block;
  border-radius: 50%;
  min-width: 1.875em;
  min-height: 1.875em;
  padding: 0.3125em;
  font-size: 1.125em;
  font-family: Roboto;
  text-align: center;
  line-height: 1em;
  box-sizing: content-box;
  white-space: nowrap;
}

.circleBackground:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
  height: 0;
}

.leftBorder {
  border-left: 0.3125em solid;
  padding: 2em 0em;
}

.leftBorderExtended {
  border-left: 0.3125em solid;
  padding: 4.5em 0em;
}

.chevron {
  color: #979797;
  text-align: center;
  padding-top: 0.5em;
}

.focus a:focus {
  outline: .125em solid #694ed6 !important;
}

.focus a > em {
  color: #979797 !important;
}

.focus a > em:hover {
  color: #979797 !important;
}

.displayOnHover {
  color: #6948D9;
  visibility: hidden;
}

.divRow:hover .displayOnHover {
  visibility: visible;
}

.displayOnFocus {
  color: #6948D9;
  visibility: hidden;
}

.divRow:focus-within .displayOnFocus {
  visibility: visible;
}

.divRow:hover .divCell {
  border-bottom: 0.05em  solid  #C137A2;
  border-top: 0.05em  solid  #C137A2;
}

.hideData {
  line-height: 1em;
  visibility: hidden;
}

.row_1 {
  height: 3.5em;
}

.row_2 {
  padding: 1em 0em;
}

.leftBorderStyle {
  color: #9F9F9F;
  width: 0.5em;
  padding: 0.25em 0em;
  vertical-align: middle;
}

.expandArrow {
  width: 1em;
  padding: 1.5em 0em;
}

.allocationNumberField {
  width: 3em;
  padding-left: 0.5em;
  padding-top: 0.9em;
}

.productCodeDefault {
  color: #7F7F7F;
  background: #ECECEC;
  border-radius: 50%;
}

.displayNotAvailable {
  text-align: center;
  padding-top: 1em;
}

.event {
  background: #ECECEC;
  display: inline-flex;
  border-radius: 0.125em;
}

.amount {
  text-align: right;
  padding-right: 10%;
}

.ellipsis {
  padding: 1.5em 0em;
}

.spinnerStyle {
  text-align: center;
  padding: 3em 0em;
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #A65494;
  }
  26% {
      stroke: #7262B4;
  }
  51% {
      stroke: #6AA6B4;
  }
  76% {
      stroke: #C6AE74;
  }
}

@media only screen and (min-width: 768px)  and (max-width: 1024px) {
  ::ng-deep .dataFont {
    max-width: fit-content !important;
    overflow-wrap: break-word !important;
    line-height: 0.9em !important;
    font-size: 0.775em !important;
  }

  ::ng-deep .headerFont {
    width: fit-content !important;
  }

}


.limits-table th{
  color: #2b2b2b !important;
  background-color: #ccd4d6 !important;
  line-height: 1.2em !important;
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
  padding-right: 1em !important;
  border: none !important;
  font-weight: 700 !important;
  font-size: 0.875em !important;
  text-align: left !important;
}

.limits-table tr{
  border-top: 0.065em solid #e6e6e6 !important;
  border-bottom: 0.065 solid #e6e6e6 !important;
  color: #333 !important;
  transition: background-color 0.2s, box-shadow 0.2s !important;
}

.limits-table tr:nth-child(even){
  background-color: white !important;
}

.limits-table tr:nth-child(odd){
  background-color: #fbfafe !important;
}


.limits-table td{
  color: #2b2b2b !important;
  line-height: 1.2em !important;
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
  padding-right: 1em !important;
  padding-left: 0.857em !important; 
  border: none !important;
  font-size: 0.875em !important;
  text-align: left !important;
  word-break: break-word !important;

}
